Workflows/AdminCompliancedetailrequestTeamsv3-F75822C8-C4B4-EB11-8236-000D3A15F3CC.json
{
  "properties": {
    "connectionReferences": {
      "shared_commondataserviceforapps_1": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "admin_CoECoreTeamsDataverse"
        },
        "api": {
          "name": "shared_commondataserviceforapps"
        }
      },
      "shared_office365_1": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "admin_CoECoreO365Outlook"
        },
        "api": {
          "name": "shared_office365"
        }
      },
      "shared_office365users": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "admin_sharedoffice365users_07de3"
        },
        "api": {
          "name": "shared_office365users"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        },
        "Admin eMail (admin_AdminMail)": {
          "defaultValue": "adelev@pplatform.onmicrosoft.com",
          "type": "String",
          "metadata": {
            "schemaName": "admin_AdminMail",
            "description": "CoE Admin eMail"
          }
        },
        "eMail Header Style (admin_eMailHeaderStyle)": {
          "defaultValue": "<head> <style>  body {     background-color: #ffffff;     font-family: Segoe UI;     text-align: left; }  #content {     border: 1px solid #742774;     background-color: #ffffff;     width: 650px;     margin-bottom: 50px;     display: inline-block; }  #logo {     margin-left: 0px;     margin-top: 0px;     width: 60px;     height: 12px; }  #header {     font-size: 24px;     margin-left: 0px;     margin-top: 0px;     margin-bottom: 0px; }  #ribbon {     background-color: #742774; }  #ribbonContent {     font-size: 20px;     padding-left: 30px;     padding-top: 10px;     padding-bottom: 20px;     color: white;     width: 100%;     padding-right: 10px; }  #message > {     font-size: 14px;     padding-left: 60px;     padding-right: 60px;     padding-top: 20px;     padding-bottom: 40px; }  #footer > {     font-size: 12px;     background-color: #cfcfcf;     height: 40px;     padding-top: 15px;     padding-left: 40px;     padding-bottom: 20px; }  #form {     width: 100%;     border-collapse: collapse; }  #app {     width: 60%;     font-size: 12px; }  .label {     color: #5f5f5f }  table {     border-collapse: collapse;     width: 100%; }  th, td {     padding: 8px;     text-align: left;     border-bottom: 1px solid #ddd; }  </style> </head> <body> <div id='content'> <table id='form'> <tr><td><img id='logo' src=''></td></tr> <tr><td><p id='header'>Power Platform</p></td></tr> <tr id='ribbon'><td> <tr><td></td> </tr></table></td></tr> <tr id='message'><td>",
          "type": "String",
          "metadata": {
            "schemaName": "admin_eMailHeaderStyle",
            "description": "CSS/Style used for eMails"
          }
        },
        "Exclude Default environment from Compliance Request flows (admin_ExcludeDefault)": {
          "defaultValue": false,
          "type": "Bool",
          "metadata": {
            "schemaName": "admin_ExcludeDefault",
            "description": "Set to Yes if you want to Exclude the Default environment from the Admin | Compliance Details request flow"
          }
        },
        "Developer Compliance Center URL (admin_DeveloperComplianceCenterURL)": {
          "defaultValue": "fake value for testing",
          "type": "String",
          "metadata": {
            "schemaName": "admin_DeveloperComplianceCenterURL",
            "description": "Leave blank on Import. URL to Developer Compliance Center Canvas App. "
          }
        },
        "ProductionEnvironment (admin_ProductionEnvironment)": {
          "defaultValue": true,
          "type": "Bool",
          "metadata": {
            "schemaName": "admin_ProductionEnvironment",
            "description": "true by default. set to false if you are creating a dev type envt. this will allow some flows to set target users to the admin instead of object owners"
          }
        }
      },
      "triggers": {
        "Recurrence": {
          "recurrence": {
            "frequency": "Week",
            "interval": 1,
            "schedule": {
              "weekDays": [
                "Monday"
              ]
            }
          },
          "metadata": {
            "operationMetadataId": "06d8cbb9-407f-48d0-aeb1-09728a694329"
          },
          "type": "Recurrence"
        }
      },
      "actions": {
        "Initialize_varAssignee": {
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "a0e0b974-d64c-48c7-a22d-54067fad4482"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "varAssignee",
                "type": "string"
              }
            ]
          }
        },
        "Initialize_NumberUsersShared": {
          "runAfter": {
            "Initialize_varAssignee": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "61e7de43-8432-4f5a-9093-135743e2d39f"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "NumberUsersShared",
                "type": "integer",
                "value": 20
              }
            ]
          }
        },
        "Initialize_NumberGroupsShared": {
          "runAfter": {
            "Initialize_NumberUsersShared": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "76b9f851-23d9-41e0-864e-5f9cc6ca8c88"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "NumberGroupsShared",
                "type": "integer",
                "value": 1
              }
            ]
          }
        },
        "Initialize_NumberDaysSincePublished": {
          "runAfter": {
            "Initialize_NumberGroupsShared": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "92c35b15-5b77-4624-909d-3873fbd9ca69"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "NumberDaysSincePublished",
                "type": "integer",
                "value": 60
              }
            ]
          }
        },
        "Initialize_NumberLaunchesLast30Days": {
          "runAfter": {
            "Initialize_NumberDaysSincePublished": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "adc08c48-3e03-4dd9-a02a-ef9c82eecba3"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "NumberLaunchesLast30Days",
                "type": "integer",
                "value": 30
              }
            ]
          }
        },
        "Initialize_NumberChatbotLaunches": {
          "runAfter": {
            "Initialize_NumberLaunchesLast30Days": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "a8550532-020b-47cf-8813-6f37a0bbd617"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "NumberChatbotLaunches",
                "type": "integer",
                "value": 50
              }
            ]
          }
        },
        "List_Environments_not_excused_from_compliance": {
          "runAfter": {
            "Initialize_NumberChatbotLaunches": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "0b6875f4-e30c-4308-b357-a3414abc9419"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps_1",
              "operationId": "ListRecords",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "admin_environments",
              "$select": "admin_environmentsku, admin_environmentname, admin_environmentid",
              "$filter": "admin_excusefromcomplianceflow ne true and admin_environmentdeleted\nne true"
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "Apply_to_each_envt": {
          "foreach": "@outputs('List_Environments_not_excused_from_compliance')?['body/value']",
          "actions": {
            "Ignore_Default_if_using_old_env_var_technique": {
              "actions": {
                "Compose_2": {
                  "runAfter": {},
                  "metadata": {
                    "operationMetadataId": "303c9046-624d-41e3-bf8b-f5491506fb32"
                  },
                  "type": "Compose",
                  "inputs": "No-op. Ignore default if 'Exclude Default environment from Compliance Request flows' is true"
                }
              },
              "runAfter": {},
              "else": {
                "actions": {
                  "Send_Compliance_Request_email_for_Apps": {
                    "actions": {
                      "List_apps": {
                        "runAfter": {},
                        "metadata": {
                          "operationMetadataId": "318a5d9c-e9d3-41ea-a1cc-bbc07df03015"
                        },
                        "type": "OpenApiConnection",
                        "inputs": {
                          "host": {
                            "connectionName": "shared_commondataserviceforapps_1",
                            "operationId": "ListRecords",
                            "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                          },
                          "parameters": {
                            "entityName": "admin_apps",
                            "$select": "admin_appdescription,admin_displayname,admin_apppublished,admin_appsharedgroups,admin_appsharedusers,admin_requirement_2,admin_requirement_1,admin_requirement_3,admin_requirement_4,admin_requirement_6,admin_makersubmittedrequirements,admin_requirement_5,cr5d5_appisorphaned,_admin_appowner_value, admin_appenvironmentdisplayname, admin_adminrequirementriskassessmentstate, admin_adminrequirementrepublishstate,admin_compliancerequestedon",
                            "$filter": "admin_powerappstype eq 597910000 and _admin_appowner_value ne null and admin_appdeleted ne true and admin_appownerdisplayname ne 'SYSTEM' and _admin_appenvironment_value eq '@{items('Apply_to_each_envt')?['admin_environmentid']}' and admin_appexcusedfromcompliance ne true",
                            "$expand": "admin_AppOwner($select=admin_userisserviceprinciple)"
                          },
                          "authentication": "@parameters('$authentication')"
                        }
                      },
                      "Apply_to_each_App": {
                        "foreach": "@outputs('List_apps')?['body/value']",
                        "actions": {
                          "Condition:_Audit_apps_that_are_broadly_shared_or_admin_has_requested_audit": {
                            "actions": {
                              "Check_if_any_of_the_requirements_are_not_yet_complete": {
                                "actions": {
                                  "Send_Audit_Mail_to_Admin_-_Apps": {
                                    "runAfter": {
                                      "Send_Audit_Mail_to_Owner_-_Apps": [
                                        "Failed"
                                      ]
                                    },
                                    "metadata": {
                                      "operationMetadataId": "ec44aefe-0029-4442-b30b-bdf41b3a7dc6"
                                    },
                                    "type": "OpenApiConnection",
                                    "inputs": {
                                      "host": {
                                        "connectionName": "shared_office365_1",
                                        "operationId": "SendEmailV2",
                                        "apiId": "/providers/Microsoft.PowerApps/apis/shared_office365"
                                      },
                                      "parameters": {
                                        "emailMessage/To": "@parameters('Admin eMail (admin_AdminMail)')",
                                        "emailMessage/Subject": "Submit compliance details for your app",
                                        "emailMessage/Body": "<p>@{parameters('eMail Header Style (admin_eMailHeaderStyle)')}</p>\n<p><b> REASSIGNED TO ADMIN </b></p>\n<p>PowerApps</p>\n<p>Your admin needs details about your broadly shared app. </p>\n<div align=\"left\">\n<p>You own an app that's currently shared or used broadly and missing compliance details, which means it needs to be audited by an administrator per our support policy. Please complete the business justification details in the Developer Compliance Center app to document the intended use.<br>\n<br>\n<strong><u>App Details</u></strong><br>\n</p>\n<p>Display Name:  @{items('Apply_to_each_App')?['admin_displayname']}</p>\n<p>Environment:  @{items('Apply_to_each_App')?['admin_appenvironmentdisplayname']}</p>\n<strong><u>How to become compliant</u></strong><br>\n<ol>\n  <li>Login to the <a href='@{parameters('Developer Compliance Center URL (admin_DeveloperComplianceCenterURL)')}?appName=@{items('Apply_to_each_App')?['admin_appid']}'>Developer Compliance Center</a>\n      <li>Add a description to your app.</li>\n      <li>Provide a business justification.</li>\n      <li>Iterate the solution's dependencies.</li>\n      <li>Profide details on the solution's access managment.</li>\n      <li>Select the business impact.</li>\n      <li>Selat the data classification.</li>\n      <li>Provide a Mitigation plan in the form of an attachment.</li>\n      <li>Update the 'Mitigation plan provided' toggle to 'Yes'.</li>\n    </ol>\n  </li>\n</ol>\n</div>"
                                      },
                                      "authentication": "@parameters('$authentication')"
                                    }
                                  },
                                  "Send_Audit_Mail_to_Owner_-_Apps": {
                                    "runAfter": {
                                      "Condition": [
                                        "Succeeded"
                                      ]
                                    },
                                    "metadata": {
                                      "operationMetadataId": "c9c5d1ed-1ff4-44a3-8a0e-2f422ce46e24"
                                    },
                                    "type": "OpenApiConnection",
                                    "inputs": {
                                      "host": {
                                        "connectionName": "shared_office365_1",
                                        "operationId": "SendEmailV2",
                                        "apiId": "/providers/Microsoft.PowerApps/apis/shared_office365"
                                      },
                                      "parameters": {
                                        "emailMessage/To": "@variables('varAssignee')",
                                        "emailMessage/Subject": "Submit compliance details for your app",
                                        "emailMessage/Body": "<p>@{parameters('eMail Header Style (admin_eMailHeaderStyle)')}</p>\n<p>PowerApps</p>\n<p>Your admin needs details about your broadly shared app. </p>\n<div align=\"left\">\n<p>You own an app that's currently shared or used broadly and missing compliance details, which means it needs to be audited by an administrator per our support policy. Please complete the business justification details in the Developer Compliance Center app to document the intended use.<br>\n<br>\n<strong><u>App Details</u></strong><br>\n</p>\n<p>Display Name:  @{items('Apply_to_each_App')?['admin_displayname']}</p>\n<p>Environment:  @{items('Apply_to_each_App')?['admin_appenvironmentdisplayname']}</p>\n<strong><u>How to become compliant</u></strong><br>\n<ol>\n  <li>Login to the <a href='@{parameters('Developer Compliance Center URL (admin_DeveloperComplianceCenterURL)')}?appName=@{items('Apply_to_each_App')?['admin_appid']}'>Developer Compliance Center</a>\n      <li>Add a description to your app.</li>\n      <li>Provide a business justification.</li>\n      <li>Iterate the solution's dependencies.</li>\n      <li>Profide details on the solution's access managment.</li>\n      <li>Select the business impact.</li>\n      <li>Selat the data classification.</li>\n      <li>Provide a Mitigation plan in the form of an attachment.</li>\n      <li>Update the 'Mitigation plan provided' toggle to 'Yes'.</li>\n    </ol>\n  </li>\n</ol>\n</div>"
                                      },
                                      "authentication": "@parameters('$authentication')"
                                    }
                                  },
                                  "Condition": {
                                    "actions": {
                                      "Update_apps_Risk_Assessment_State_to_Requested": {
                                        "runAfter": {},
                                        "metadata": {
                                          "operationMetadataId": "6ccd62ed-7fa9-4212-ab35-bff944ba72ec"
                                        },
                                        "type": "OpenApiConnection",
                                        "inputs": {
                                          "host": {
                                            "connectionName": "shared_commondataserviceforapps_1",
                                            "operationId": "UpdateRecord",
                                            "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                                          },
                                          "parameters": {
                                            "entityName": "admin_apps",
                                            "recordId": "@items('Apply_to_each_App')?['admin_appid']",
                                            "item/admin_adminrequirementriskassessmentstate": 597910001,
                                            "item/admin_compliancerequestedon": "@utcNow()"
                                          },
                                          "authentication": "@parameters('$authentication')"
                                        }
                                      }
                                    },
                                    "runAfter": {},
                                    "expression": {
                                      "or": [
                                        {
                                          "not": {
                                            "equals": [
                                              "@items('Apply_to_each_App')?['admin_adminrequirementriskassessmentstate']",
                                              597910001
                                            ]
                                          }
                                        },
                                        {
                                          "equals": [
                                            "@items('Apply_to_each_App')?['admin_compliancerequestedon']",
                                            "@null"
                                          ]
                                        }
                                      ]
                                    },
                                    "metadata": {
                                      "operationMetadataId": "4c6ce3a1-2b48-4757-92eb-284f50348204"
                                    },
                                    "type": "If"
                                  }
                                },
                                "runAfter": {},
                                "else": {
                                  "actions": {
                                    "If_not_already_submitted_or_complete,_mark_as_submitted": {
                                      "actions": {
                                        "Update_apps_Risk_Assessment_State_to_Submitted": {
                                          "runAfter": {},
                                          "metadata": {
                                            "operationMetadataId": "0fff612b-8c3e-46a7-b6d5-fc5a8ce779fd"
                                          },
                                          "type": "OpenApiConnection",
                                          "inputs": {
                                            "host": {
                                              "connectionName": "shared_commondataserviceforapps_1",
                                              "operationId": "UpdateRecord",
                                              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                                            },
                                            "parameters": {
                                              "entityName": "admin_apps",
                                              "recordId": "@items('Apply_to_each_App')?['admin_appid']",
                                              "item/admin_adminrequirementriskassessmentstate": 597910002
                                            },
                                            "authentication": "@parameters('$authentication')"
                                          }
                                        }
                                      },
                                      "runAfter": {},
                                      "expression": {
                                        "and": [
                                          {
                                            "equals": [
                                              "@items('Apply_to_each_App')?['admin_adminrequirementriskassessmentstate']",
                                              597910003
                                            ]
                                          },
                                          {
                                            "equals": [
                                              "@items('Apply_to_each_App')?['admin_adminrequirementriskassessmentstate']",
                                              597910002
                                            ]
                                          }
                                        ]
                                      },
                                      "metadata": {
                                        "operationMetadataId": "d7027b9f-a10f-4394-ad18-3e5688362122"
                                      },
                                      "type": "If"
                                    },
                                    "If_not_recently_published,_send_for_testing_and_republish": {
                                      "actions": {
                                        "Update_apps_Republish_State_to_Requested": {
                                          "runAfter": {},
                                          "metadata": {
                                            "operationMetadataId": "4b31260a-8879-467e-bac9-d0267030acaf"
                                          },
                                          "type": "OpenApiConnection",
                                          "inputs": {
                                            "host": {
                                              "connectionName": "shared_commondataserviceforapps_1",
                                              "operationId": "UpdateRecord",
                                              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                                            },
                                            "parameters": {
                                              "entityName": "admin_apps",
                                              "recordId": "@items('Apply_to_each_App')?['admin_appid']",
                                              "item/admin_adminrequirementriskassessmentstate": 597910001
                                            },
                                            "authentication": "@parameters('$authentication')"
                                          }
                                        },
                                        "Send_Republish_Mail_to_Owner_-_Apps": {
                                          "runAfter": {
                                            "Update_apps_Republish_State_to_Requested": [
                                              "Succeeded"
                                            ]
                                          },
                                          "metadata": {
                                            "operationMetadataId": "bc185839-d130-4ebf-92e3-da593b3cd0bd"
                                          },
                                          "type": "OpenApiConnection",
                                          "inputs": {
                                            "host": {
                                              "connectionName": "shared_office365_1",
                                              "operationId": "SendEmailV2",
                                              "apiId": "/providers/Microsoft.PowerApps/apis/shared_office365"
                                            },
                                            "parameters": {
                                              "emailMessage/To": "@variables('varAssignee')",
                                              "emailMessage/Subject": "Keep your app updated to stay compliant",
                                              "emailMessage/Body": "<p>@{parameters('eMail Header Style (admin_eMailHeaderStyle)')}</p>\n<p>PowerApps</p>\n<p>Keep your app updated to stay compliant.</p>\n<div align=\"left\">\n<p>You own an app that's currently shared or used broadly but which has not been published recently. It is best practice to test and republish such apps regularly in order to ensure they stay up to date with product changes. Please test and republish the app. You can use the Developer Compliance Center app to view all required work.<br>\n<br>\n<strong><u>App Details</u></strong><br>\n</p>\n<p><b>Display Name:</b> @{items('Apply_to_each_App')?['admin_displayname']}</p>\n<p><b>Environment:</b>@{items('Apply_to_each_App')?['admin_appenvironmentdisplayname']}</p>\n<ol>\n  <li>Login to the <a href='@{parameters('Developer Compliance Center URL (admin_DeveloperComplianceCenterURL)')}?appName=@{items('Apply_to_each_App')?['admin_appid']}'>Developer Compliance Center</a>\n      <li>View all apps that require work.</li>\n      <li>Test and republish this app.</li>\n    </ol>\n  </li>\n</ol>\n</div>"
                                            },
                                            "authentication": "@parameters('$authentication')"
                                          }
                                        },
                                        "Send_Republish_Mail_to_Admin_-_Apps": {
                                          "runAfter": {
                                            "Send_Republish_Mail_to_Owner_-_Apps": [
                                              "Failed"
                                            ]
                                          },
                                          "metadata": {
                                            "operationMetadataId": "1329c936-4f62-4b39-8e10-e832cfbddec7"
                                          },
                                          "type": "OpenApiConnection",
                                          "inputs": {
                                            "host": {
                                              "connectionName": "shared_office365_1",
                                              "operationId": "SendEmailV2",
                                              "apiId": "/providers/Microsoft.PowerApps/apis/shared_office365"
                                            },
                                            "parameters": {
                                              "emailMessage/To": "@parameters('Admin eMail (admin_AdminMail)')",
                                              "emailMessage/Subject": "Keep your app updated to stay compliant",
                                              "emailMessage/Body": "<p>@{parameters('eMail Header Style (admin_eMailHeaderStyle)')}</p>\n<p><b> REASSIGNED TO ADMIN </b></p>\n<p>PowerApps</p>\n<p>Keep your app updated to stay compliant.</p>\n<div align=\"left\">\n<p>You own an app that's currently shared or used broadly but which has not been published recently. It is best practice to test and republish such apps regularly in order to ensure they stay up to date with product changes. Please test and republish the app. You can use the Developer Compliance Center app to view all required work.<br>\n<br>\n<strong><u>App Details</u></strong><br>\n</p>\n<p><b>Display Name:</b> @{items('Apply_to_each_App')?['admin_displayname']}</p>\n<p><b>Environment:</b>@{items('Apply_to_each_App')?['admin_appenvironmentdisplayname']}</p>\n<ol>\n  <li>Login to the <a href='@{parameters('Developer Compliance Center URL (admin_DeveloperComplianceCenterURL)')}?appName=@{items('Apply_to_each_App')?['admin_appid']}'>Developer Compliance Center</a>\n      <li>View all apps that require work.</li>\n      <li>Test and republish this app.</li>\n    </ol>\n  </li>\n</ol>\n</div>"
                                            },
                                            "authentication": "@parameters('$authentication')"
                                          }
                                        }
                                      },
                                      "runAfter": {
                                        "If_not_already_submitted_or_complete,_mark_as_submitted": [
                                          "Succeeded"
                                        ]
                                      },
                                      "else": {
                                        "actions": {
                                          "Update_apps_Republish_State_to_Complete": {
                                            "runAfter": {},
                                            "metadata": {
                                              "operationMetadataId": "0287c84f-1c49-4bc6-81d9-755303f364bf"
                                            },
                                            "type": "OpenApiConnection",
                                            "inputs": {
                                              "host": {
                                                "connectionName": "shared_commondataserviceforapps_1",
                                                "operationId": "UpdateRecord",
                                                "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                                              },
                                              "parameters": {
                                                "entityName": "admin_apps",
                                                "recordId": "@items('Apply_to_each_App')?['admin_appid']",
                                                "item/admin_adminrequirementriskassessmentstate": 597910003
                                              },
                                              "authentication": "@parameters('$authentication')"
                                            }
                                          }
                                        }
                                      },
                                      "expression": {
                                        "or": [
                                          {
                                            "equals": [
                                              "@items('Apply_to_each_App')?['admin_apppublished']",
                                              "@null"
                                            ]
                                          },
                                          {
                                            "less": [
                                              "@addDays(items('Apply_to_each_App')?['admin_apppublished'], variables('NumberDaysSincePublished'))",
                                              "@utcNow()"
                                            ]
                                          }
                                        ]
                                      },
                                      "metadata": {
                                        "operationMetadataId": "ad7a8030-0765-4ec9-8f32-0c2da41d6f37"
                                      },
                                      "type": "If"
                                    }
                                  }
                                },
                                "expression": {
                                  "or": [
                                    {
                                      "equals": [
                                        "@items('Apply_to_each_App')?['admin_appdescription']",
                                        "@null"
                                      ]
                                    },
                                    {
                                      "equals": [
                                        "@items('Apply_to_each_App')?['admin_requirement_1']",
                                        "@null"
                                      ]
                                    },
                                    {
                                      "equals": [
                                        "@items('Apply_to_each_App')?['admin_requirement_2']",
                                        "@null"
                                      ]
                                    },
                                    {
                                      "equals": [
                                        "@items('Apply_to_each_App')?['admin_requirement_3']",
                                        "@null"
                                      ]
                                    },
                                    {
                                      "equals": [
                                        "@items('Apply_to_each_App')?['admin_requirement_4']",
                                        "@null"
                                      ]
                                    },
                                    {
                                      "not": {
                                        "equals": [
                                          "@items('Apply_to_each_App')?['admin_requirement_5']",
                                          "@true"
                                        ]
                                      }
                                    },
                                    {
                                      "equals": [
                                        "@items('Apply_to_each_App')?['admin_requirement_6']",
                                        "@null"
                                      ]
                                    }
                                  ]
                                },
                                "metadata": {
                                  "operationMetadataId": "d9becf2b-5055-4fd4-bcbc-67f182087db1"
                                },
                                "type": "If"
                              }
                            },
                            "runAfter": {
                              "Get_Session_Count_last_30_days": [
                                "Succeeded"
                              ]
                            },
                            "else": {
                              "actions": {
                                "No-op,_not_broadly_used_or_shared": {
                                  "runAfter": {},
                                  "metadata": {
                                    "operationMetadataId": "711d6d1a-d6cf-428e-bbad-c1b6fd5ed16e"
                                  },
                                  "type": "Compose",
                                  "inputs": "No-op, not broadly used or shared"
                                }
                              }
                            },
                            "expression": {
                              "or": [
                                {
                                  "greaterOrEquals": [
                                    "@add(0, coalesce(items('Apply_to_each_App')?['admin_appsharedusers'], 0))",
                                    "@variables('NumberUsersShared')"
                                  ]
                                },
                                {
                                  "greaterOrEquals": [
                                    "@add(0, coalesce(items('Apply_to_each_App')?['admin_appsharedgroups'], 0))",
                                    "@variables('NumberGroupsShared')"
                                  ]
                                },
                                {
                                  "greaterOrEquals": [
                                    "@outputs('This_apps_launches_this_month')",
                                    "@variables('NumberLaunchesLast30Days')"
                                  ]
                                },
                                {
                                  "not": {
                                    "equals": [
                                      "@items('Apply_to_each_App')?['admin_adminrequirementriskassessmentstate']",
                                      597910000
                                    ]
                                  }
                                }
                              ]
                            },
                            "metadata": {
                              "operationMetadataId": "de873301-93f7-42a9-b4ae-9d6b36f2024a"
                            },
                            "type": "If"
                          },
                          "Get_Assignee": {
                            "actions": {
                              "Set_Assignee": {
                                "runAfter": {},
                                "metadata": {
                                  "operationMetadataId": "c727ed42-3faa-4461-acd4-3ca3c5b249cc"
                                },
                                "type": "SetVariable",
                                "inputs": {
                                  "name": "varAssignee",
                                  "value": "@parameters('Admin eMail (admin_AdminMail)')"
                                }
                              }
                            },
                            "runAfter": {},
                            "else": {
                              "actions": {
                                "Recheck_Orphan_Status": {
                                  "runAfter": {},
                                  "metadata": {
                                    "operationMetadataId": "07155a1d-b9c7-4dd8-afe3-4775ecde2c12"
                                  },
                                  "type": "OpenApiConnection",
                                  "inputs": {
                                    "host": {
                                      "connectionName": "shared_office365users",
                                      "operationId": "UserProfile_V2",
                                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_office365users"
                                    },
                                    "parameters": {
                                      "id": "@items('Apply_to_each_App')?['_admin_appowner_value']",
                                      "$select": "displayName,mail"
                                    },
                                    "authentication": "@parameters('$authentication')"
                                  }
                                },
                                "Switch": {
                                  "runAfter": {
                                    "Recheck_Orphan_Status": [
                                      "Succeeded",
                                      "Failed"
                                    ]
                                  },
                                  "cases": {
                                    "Case_200_-_User_Found": {
                                      "case": 200,
                                      "actions": {
                                        "Set_Assignee_to_Owner": {
                                          "runAfter": {},
                                          "type": "SetVariable",
                                          "inputs": {
                                            "name": "varAssignee",
                                            "value": "@outputs('Recheck_Orphan_Status')?['body/mail']"
                                          }
                                        }
                                      }
                                    },
                                    "Case_404_-_New_Orphan": {
                                      "case": 400,
                                      "actions": {
                                        "Set_variable_to_Approval_Admin": {
                                          "runAfter": {},
                                          "type": "SetVariable",
                                          "inputs": {
                                            "name": "varAssignee",
                                            "value": "@parameters('Admin eMail (admin_AdminMail)')"
                                          }
                                        }
                                      }
                                    }
                                  },
                                  "default": {
                                    "actions": {}
                                  },
                                  "expression": "@outputs('Recheck_Orphan_Status')['statusCode']",
                                  "metadata": {
                                    "operationMetadataId": "be5f1db5-087e-42fe-96ae-28e7034157e4"
                                  },
                                  "type": "Switch"
                                }
                              }
                            },
                            "expression": {
                              "or": [
                                {
                                  "equals": [
                                    "@parameters('ProductionEnvironment (admin_ProductionEnvironment)')",
                                    "no"
                                  ]
                                },
                                {
                                  "equals": [
                                    "@items('Apply_to_each_App')?['cr5d5_appisorphaned']",
                                    "yes"
                                  ]
                                },
                                {
                                  "equals": [
                                    "@items('Apply_to_each_App')?['admin_appowner/admin_userisserviceprinciple']",
                                    "@true"
                                  ]
                                },
                                {
                                  "equals": [
                                    "@items('Apply_to_each_App')?['_admin_appowner_value']",
                                    "@null"
                                  ]
                                }
                              ]
                            },
                            "metadata": {
                              "operationMetadataId": "b3d3f44a-5596-4cc6-91ae-ade462ce280d"
                            },
                            "type": "If"
                          },
                          "Get_Session_Count_last_30_days": {
                            "actions": {
                              "List_launches_for_this_app_last_30_days": {
                                "runAfter": {},
                                "metadata": {
                                  "operationMetadataId": "e1179c77-b07d-4a46-8d9d-22544dc7c899"
                                },
                                "type": "OpenApiConnection",
                                "inputs": {
                                  "host": {
                                    "connectionName": "shared_commondataserviceforapps_1",
                                    "operationId": "ListRecords",
                                    "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                                  },
                                  "parameters": {
                                    "entityName": "admin_auditlogs",
                                    "$select": "admin_auditlogid",
                                    "$filter": "admin_appid eq '@{items('Apply_to_each_App')?['admin_appid']}' and admin_creationtime gt @{addDays(utcNow(), -30)} and admin_operation eq 'LaunchPowerApp'"
                                  },
                                  "authentication": "@parameters('$authentication')"
                                }
                              },
                              "This_apps_launches_this_month": {
                                "runAfter": {
                                  "List_launches_for_this_app_last_30_days": [
                                    "Succeeded"
                                  ]
                                },
                                "metadata": {
                                  "operationMetadataId": "ffed0e70-9f2d-41ca-bb3f-addc05e11712"
                                },
                                "type": "Compose",
                                "inputs": "@length(outputs('List_launches_for_this_app_last_30_days')?['body/value'])"
                              }
                            },
                            "runAfter": {
                              "Get_Assignee": [
                                "Succeeded"
                              ]
                            },
                            "metadata": {
                              "operationMetadataId": "c9dfb280-4375-4a23-b4e0-f3ba1a7f2d32"
                            },
                            "type": "Scope"
                          }
                        },
                        "runAfter": {
                          "List_apps": [
                            "Succeeded"
                          ]
                        },
                        "metadata": {
                          "operationMetadataId": "79ebe726-a6c1-45f4-b9e6-6f8f43d68bae"
                        },
                        "type": "Foreach"
                      }
                    },
                    "runAfter": {},
                    "metadata": {
                      "operationMetadataId": "5b0a2ded-6142-4489-955c-eac463ec3bbe"
                    },
                    "type": "Scope"
                  },
                  "Send_Compliance_Request_email_for_Chatbots": {
                    "actions": {
                      "List_chatbots": {
                        "runAfter": {},
                        "metadata": {
                          "operationMetadataId": "19092081-6325-4125-ad03-ded0276a2550"
                        },
                        "type": "OpenApiConnection",
                        "inputs": {
                          "host": {
                            "connectionName": "shared_commondataserviceforapps_1",
                            "operationId": "ListRecords",
                            "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                          },
                          "parameters": {
                            "entityName": "admin_pvas",
                            "$select": "admin_pvadisplayname,admin_makerrequirementbusinessimpact,admin_makerrequirementbusinessjustification,admin_makersubmittedrequirements,admin_mitigationplanprovided,admin_pvanumberlaunches,admin_pvaisorphaned, admin_pvaenvironmentdisplayname",
                            "$filter": "admin_PVAOwner/admin_displayname ne 'SYSTEM' and admin_pvadeleted ne true and _admin_pvaenvironment_value eq '@{items('Apply_to_each_envt')?['admin_environmentid']}' and admin_chatbotexcusedfromcompliance ne true",
                            "$expand": "admin_PVAOwner($select=admin_userisserviceprinciple)"
                          },
                          "authentication": "@parameters('$authentication')"
                        }
                      },
                      "Apply_to_each_chatbot": {
                        "foreach": "@outputs('List_chatbots')?['body/value']",
                        "actions": {
                          "Get_Assignee_for_Bots": {
                            "actions": {
                              "Set_variable_2": {
                                "runAfter": {},
                                "metadata": {
                                  "operationMetadataId": "de997b97-e203-4978-9313-1da69ae1ec2a"
                                },
                                "type": "SetVariable",
                                "inputs": {
                                  "name": "varAssignee",
                                  "value": "@parameters('Admin eMail (admin_AdminMail)')"
                                }
                              }
                            },
                            "runAfter": {},
                            "else": {
                              "actions": {
                                "Recheck_Orphan_Status_2": {
                                  "runAfter": {},
                                  "metadata": {
                                    "operationMetadataId": "2b601be8-cc4c-421b-9219-1f811e2be25d"
                                  },
                                  "type": "OpenApiConnection",
                                  "inputs": {
                                    "host": {
                                      "connectionName": "shared_office365users",
                                      "operationId": "UserProfile_V2",
                                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_office365users"
                                    },
                                    "parameters": {
                                      "id": "@items('Apply_to_each_chatbot')?['_admin_pvaowner_value']"
                                    },
                                    "authentication": "@parameters('$authentication')"
                                  }
                                },
                                "Switch_2": {
                                  "runAfter": {
                                    "Recheck_Orphan_Status_2": [
                                      "Succeeded",
                                      "Failed"
                                    ]
                                  },
                                  "cases": {
                                    "Case_200_User_Found": {
                                      "case": 200,
                                      "actions": {
                                        "Set_variable_3": {
                                          "runAfter": {},
                                          "type": "SetVariable",
                                          "inputs": {
                                            "name": "varAssignee",
                                            "value": "@outputs('Recheck_Orphan_Status_2')?['body/mail']"
                                          }
                                        }
                                      }
                                    },
                                    "Case_404_Orphan": {
                                      "case": 400,
                                      "actions": {
                                        "Set_variable_4": {
                                          "runAfter": {},
                                          "type": "SetVariable",
                                          "inputs": {
                                            "name": "varAssignee",
                                            "value": "@parameters('Admin eMail (admin_AdminMail)')"
                                          }
                                        }
                                      }
                                    }
                                  },
                                  "default": {
                                    "actions": {}
                                  },
                                  "expression": "@outputs('Recheck_Orphan_Status_2')['statusCode']",
                                  "metadata": {
                                    "operationMetadataId": "b4a4a441-5e0f-4c2f-a90f-83fdd56a310f"
                                  },
                                  "type": "Switch"
                                }
                              }
                            },
                            "expression": {
                              "or": [
                                {
                                  "equals": [
                                    "@parameters('ProductionEnvironment (admin_ProductionEnvironment)')",
                                    "no"
                                  ]
                                },
                                {
                                  "equals": [
                                    "@items('Apply_to_each_chatbot')?['admin_pvaisorphaned']",
                                    "yes"
                                  ]
                                },
                                {
                                  "equals": [
                                    "@items('Apply_to_each_chatbot')?['admin_pvaowner/admin_userisserviceprinciple']",
                                    "@true"
                                  ]
                                },
                                {
                                  "equals": [
                                    "@items('Apply_to_each_chatbot')?['_admin_pvaowner_value']",
                                    "@null"
                                  ]
                                }
                              ]
                            },
                            "metadata": {
                              "operationMetadataId": "1c025055-6389-42dd-aadb-6b9e40f8cc37"
                            },
                            "type": "If"
                          },
                          "NumLaunchesWithNullCheck": {
                            "runAfter": {
                              "Get_Assignee_for_Bots": [
                                "Succeeded"
                              ]
                            },
                            "metadata": {
                              "operationMetadataId": "077e87fa-23e2-4598-abf0-26a9e98a5a04"
                            },
                            "type": "Compose",
                            "inputs": "@coalesce(items('Apply_to_each_chatbot')?['admin_pvanumberlaunches'], 0)"
                          },
                          "Condition:_Audit_chatbots_that_are_highly_used_or_admin_has_requested_audit": {
                            "actions": {
                              "Check_if_any_of_the_requirements_are_not_yet_complete_-_bots": {
                                "actions": {
                                  "Update_bot_Risk_Assessment_State_to_Requested": {
                                    "runAfter": {},
                                    "metadata": {
                                      "operationMetadataId": "40856dd6-075f-4a2c-b741-98cb2bcf73c4"
                                    },
                                    "type": "OpenApiConnection",
                                    "inputs": {
                                      "host": {
                                        "connectionName": "shared_commondataserviceforapps_1",
                                        "operationId": "UpdateRecord",
                                        "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                                      },
                                      "parameters": {
                                        "entityName": "admin_pvas",
                                        "recordId": "@items('Apply_to_each_chatbot')?['admin_pvaid']",
                                        "item/admin_adminrequirementriskassessmentstate": 597910001
                                      },
                                      "authentication": "@parameters('$authentication')"
                                    }
                                  },
                                  "Send_Audit_Mail_to_Admin_-_Bots": {
                                    "runAfter": {
                                      "Send_Audit_Mail_to_Owner_-_Bots": [
                                        "Failed"
                                      ]
                                    },
                                    "metadata": {
                                      "operationMetadataId": "0d62f595-9e34-4f12-ad5c-5a1d8e238bde"
                                    },
                                    "type": "OpenApiConnection",
                                    "inputs": {
                                      "host": {
                                        "connectionName": "shared_office365_1",
                                        "operationId": "SendEmailV2",
                                        "apiId": "/providers/Microsoft.PowerApps/apis/shared_office365"
                                      },
                                      "parameters": {
                                        "emailMessage/To": "@parameters('Admin eMail (admin_AdminMail)')",
                                        "emailMessage/Subject": "Submit compliance details for your chatbot",
                                        "emailMessage/Body": "<p>@{parameters('eMail Header Style (admin_eMailHeaderStyle)')}</p>\n<p><b>REASSIGNED TO ADMIN</b></p>\n<p>Your admin needs details about your frequently used chatbot. </p>\n<div align=\"left\">\n<p>You own a chatbot that's frequently used and which missing compliance details, which means it needs to be audited by an administrator per our support policy. Please complete the business justification details in the Developer Compliance Center app to document the intended use.<br>\n<br>\n<strong><u>Chatbot Details</u></strong><br>\n</p>\n<p><b>Display Name: </b> @{items('Apply_to_each_chatbot')?['admin_pvadisplayname']}</p>\n<p><b>Environment: </b> @{items('Apply_to_each_chatbot')?['admin_pvaenvironmentdisplayname']}</p>\n<strong><u>How to become compliant</u></strong><br>\n<ol>\n  <li>Login to the <a href='@{parameters('Developer Compliance Center URL (admin_DeveloperComplianceCenterURL)')}?appName=@{items('Apply_to_each_chatbot')?['admin_pvaid']}'>Developer Compliance Center</a>\n      <li>Add a description.</li>\n      <li>Provide a business justification.</li>\n      <li>Iterate the solution's dependencies.</li>\n      <li>Provide details on the solution's access managment.</li>\n      <li>Select the business impact.</li>\n      <li>Provide a Mitigation plan in the form of an attachment.</li>\n      <li>Update the 'Mitigation plan provided' toggle to 'Yes'.</li>\n    </ol>\n  </li>\n</ol>\n</div>"
                                      },
                                      "authentication": "@parameters('$authentication')"
                                    }
                                  },
                                  "Send_Audit_Mail_to_Owner_-_Bots": {
                                    "runAfter": {
                                      "Update_bot_Risk_Assessment_State_to_Requested": [
                                        "Succeeded"
                                      ]
                                    },
                                    "metadata": {
                                      "operationMetadataId": "35dbb3d3-0352-430e-8b5d-3353999f5186"
                                    },
                                    "type": "OpenApiConnection",
                                    "inputs": {
                                      "host": {
                                        "connectionName": "shared_office365_1",
                                        "operationId": "SendEmailV2",
                                        "apiId": "/providers/Microsoft.PowerApps/apis/shared_office365"
                                      },
                                      "parameters": {
                                        "emailMessage/To": "@variables('varAssignee')",
                                        "emailMessage/Subject": "Submit compliance details for your chatbot",
                                        "emailMessage/Body": "<p>@{parameters('eMail Header Style (admin_eMailHeaderStyle)')}</p>\n<p>Your admin needs details about your frequently used chatbot. </p>\n<div align=\"left\">\n<p>You own a chatbot that's frequently used and which missing compliance details, which means it needs to be audited by an administrator per our support policy. Please complete the business justification details in the Developer Compliance Center app to document the intended use.<br>\n<br>\n<strong><u>Chatbot Details</u></strong><br>\n</p>\n<p><b>Display Name: </b> @{items('Apply_to_each_chatbot')?['admin_pvadisplayname']}</p>\n<p><b>Environment: </b> @{items('Apply_to_each_chatbot')?['admin_pvaenvironmentdisplayname']}</p>\n<strong><u>How to become compliant</u></strong><br>\n<ol>\n  <li>Login to the <a href='@{parameters('Developer Compliance Center URL (admin_DeveloperComplianceCenterURL)')}?appName=@{items('Apply_to_each_chatbot')?['admin_pvaid']}'>Developer Compliance Center</a>\n      <li>Add a description.</li>\n      <li>Provide a business justification.</li>\n      <li>Iterate the solution's dependencies.</li>\n      <li>Provide details on the solution's access managment.</li>\n      <li>Select the business impact.</li>\n      <li>Provide a Mitigation plan in the form of an attachment.</li>\n      <li>Update the 'Mitigation plan provided' toggle to 'Yes'.</li>\n    </ol>\n  </li>\n</ol>\n</div>"
                                      },
                                      "authentication": "@parameters('$authentication')"
                                    }
                                  }
                                },
                                "runAfter": {},
                                "else": {
                                  "actions": {
                                    "If_not_already_submitted_or_complete,_mark_bot_as_submitted": {
                                      "actions": {
                                        "Update_bots_Risk_Assessment_State_to_Submitted": {
                                          "runAfter": {},
                                          "metadata": {
                                            "operationMetadataId": "fba2731b-6c20-4af7-8ac5-8cf799ec2f1f"
                                          },
                                          "type": "OpenApiConnection",
                                          "inputs": {
                                            "host": {
                                              "connectionName": "shared_commondataserviceforapps_1",
                                              "operationId": "UpdateRecord",
                                              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                                            },
                                            "parameters": {
                                              "entityName": "admin_pvas",
                                              "recordId": "@items('Apply_to_each_chatbot')?['admin_pvaid']",
                                              "item/admin_adminrequirementriskassessmentstate": 597910002
                                            },
                                            "authentication": "@parameters('$authentication')"
                                          }
                                        }
                                      },
                                      "runAfter": {},
                                      "expression": {
                                        "and": [
                                          {
                                            "not": {
                                              "equals": [
                                                "@items('Apply_to_each_chatbot')?['admin_adminrequirementriskassessmentstate']",
                                                597910003
                                              ]
                                            }
                                          },
                                          {
                                            "not": {
                                              "equals": [
                                                "@items('Apply_to_each_chatbot')?['admin_adminrequirementriskassessmentstate']",
                                                597910002
                                              ]
                                            }
                                          }
                                        ]
                                      },
                                      "metadata": {
                                        "operationMetadataId": "c24de204-e3b2-4243-9a29-961b906c8761"
                                      },
                                      "type": "If"
                                    }
                                  }
                                },
                                "expression": {
                                  "or": [
                                    {
                                      "equals": [
                                        "@items('Apply_to_each_chatbot')?['admin_makerrequirementbusinessjustification']",
                                        "@null"
                                      ]
                                    },
                                    {
                                      "equals": [
                                        "@items('Apply_to_each_chatbot')?['admin_makerrequirementaccessmanagement']",
                                        "@null"
                                      ]
                                    },
                                    {
                                      "equals": [
                                        "@items('Apply_to_each_chatbot')?['admin_makerrequirementdependencies']",
                                        "@null"
                                      ]
                                    },
                                    {
                                      "equals": [
                                        "@items('Apply_to_each_chatbot')?['admin_makerrequirementbusinessimpact']",
                                        "@null"
                                      ]
                                    },
                                    {
                                      "not": {
                                        "equals": [
                                          "@items('Apply_to_each_chatbot')?['admin_mitigationplanprovided']",
                                          "@true"
                                        ]
                                      }
                                    },
                                    {
                                      "equals": [
                                        "@items('Apply_to_each_chatbot')?['admin_chatbotdescription']",
                                        "@null"
                                      ]
                                    }
                                  ]
                                },
                                "metadata": {
                                  "operationMetadataId": "7710b802-ee74-4872-b59a-df358ad42a74"
                                },
                                "type": "If"
                              }
                            },
                            "runAfter": {
                              "NumLaunchesWithNullCheck": [
                                "Succeeded"
                              ]
                            },
                            "else": {
                              "actions": {
                                "No-op,_not_heavily_used": {
                                  "runAfter": {},
                                  "metadata": {
                                    "operationMetadataId": "a97a3efd-e435-4cce-80f1-9f95f36ec347"
                                  },
                                  "type": "Compose",
                                  "inputs": "No-op, not heavily used"
                                }
                              }
                            },
                            "expression": {
                              "and": [
                                {
                                  "greaterOrEquals": [
                                    "@outputs('NumLaunchesWithNullCheck')",
                                    "@variables('NumberChatbotLaunches')"
                                  ]
                                },
                                {
                                  "not": {
                                    "equals": [
                                      "@items('Apply_to_each_chatbot')?['admin_adminrequirementriskassessmentstate']",
                                      597910000
                                    ]
                                  }
                                }
                              ]
                            },
                            "metadata": {
                              "operationMetadataId": "56d24e4b-28af-4a94-a401-fa9646389d97"
                            },
                            "type": "If"
                          }
                        },
                        "runAfter": {
                          "List_chatbots": [
                            "Succeeded"
                          ]
                        },
                        "metadata": {
                          "operationMetadataId": "20cea24f-2805-4b8c-aaab-cbd56edd1963"
                        },
                        "type": "Foreach"
                      }
                    },
                    "runAfter": {
                      "Send_Compliance_Request_email_for_Apps": [
                        "Succeeded"
                      ]
                    },
                    "metadata": {
                      "operationMetadataId": "bfd7450d-b55f-4713-87fa-5949237f2969"
                    },
                    "type": "Scope"
                  }
                }
              },
              "expression": {
                "and": [
                  {
                    "equals": [
                      "@items('Apply_to_each_envt')?['admin_environmentsku']",
                      "Default"
                    ]
                  },
                  {
                    "equals": [
                      "@parameters('Exclude Default environment from Compliance Request flows (admin_ExcludeDefault)')",
                      "@true"
                    ]
                  }
                ]
              },
              "metadata": {
                "operationMetadataId": "9e4756bb-879e-4291-8a09-7fdbd39180cc"
              },
              "type": "If"
            }
          },
          "runAfter": {
            "List_Environments_not_excused_from_compliance": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "f7b161c0-9470-465a-8914-e69869008d7f"
          },
          "type": "Foreach"
        }
      },
      "outputs": {}
    }
  },
  "schemaVersion": "1.0.0.0"
}